debian/stsbl-iserv-server-stunnel/*
debian/stsbl-iserv-server-stunnel.substvars
debian/stsbl-iserv-server-stunnel.debhelper.log
debian/files
debian/debhelper-build-stamp
debian/*.debhelper
/Makefile.iservmake
/locale
/system-locale
!/locale/templates/*_misc.pot
