Source: stsbl-iserv-server-stunnel
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/

Package: stsbl-iserv-server-stunnel
Architecture: all
Depends: iserv-update, stunnel4, ${misc:Depends}, ${perl:Depends}
Description: IServ Stunnel-Server
 Konfiguriert den TLS-Tunnel-Server Stunnel.
Tag: suite::iserv
